<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>New Organizer</h1>
    </div>
  </div>

  <%= render 'form' %>

  <div class="panel-footer">
    <%= link_to 'Back', hackathon_organizers_path(@hackathon) %>
  </div>
</div>
