<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Authorization code:</h1>
    </div>
  </div>

  <div class="panel-body">
    <code id="authorization_code"><%= params[:code] %></code>
  </div>

</div>
