<h1><%= @hackathon.name %> Confirmation</h1>

<p><%= @user.name %>,</p>

<p>Thank you for submitting an application to <%= @hackathon.name %>.</p>

<p>Let us know if you have any other questions.</p>

<p>Sincerely,</p>
<p>The <%= @hackathon.name %> Team</p>