<h1>Check in</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reimbursement Needed</th>
      <th>Checked in yet?</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.user.name %></td>
        <td>
          <% if application.reimbursement_needed? %>
            <span class="label label-warning">Yes</span>
          <% else %>
            <span class="label label-default">No</span>
          <% end %>
        <td>
          <% if application.checked_in? %>
            <span class="label label-success">Checked in</span>
          <% else %>
            <span class="label label-default">Not checked in</span>
          <% end %>
        </td>
        <td>
          <% if application.checked_in? %>
            <div class="form-group">
              <%= button_to "Uncheckin",
                :controller => 'admin/hackathons',
                :action => "uncheckin",
                :application_id => application.id,
                :method => :post
              %>
            </div>
          <% else %>
            <div class="form-group">
              <%= button_to "Checkin",
                :controller => 'admin/hackathons',
                :action => "checkin",
                :application_id => application.id,
                :method => :post
              %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
