<div class="jumbotron">
  <div class="container">
    <h1>About HackCentral</h1>
    <p>
      HackCentral was created by Jon Moss in late 2014.</p>
    <p>
      HackCentral is powered by Ruby on Rails and PostgreSQL.</p>
    <p>Feel free to send us a pull request on <a href="https://github.com/hackcentral/hackcentral">GitHub!</a>
    </p>

    <br />

    <p class="center"><%= link_to "Contact HackCentral", pages_contact_path %></p>

    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
  </div>
</div>
