<div class="jumbotron">
  <div class="container">
    <h1>About HackCentral</h1>
    <p>
      HackCentral was created by Jon Moss in late 2014.</p>
    <p>
      HackCentral is powered by Ruby on Rails and PostgreSQL.</p>
    <p>Feel free to send us a pull request on <a href="https://github.com/hackcentral/hackcentral">GitHub!</a>
    </p>

    <br />

    <p class="center"><%= link_to "Contact HackCentral", pages_contact_path %></p>

    <style>
      .bugsnag img {
        height: 40%;
        width: 40%;
      }
    </style>

    <hr>

    <p>
      Thanks to all of these companies for providing us with free services!
    </p>

    <br>

    <div class="row">
      <div class="col-md-6">
        <!-- Bugsnag -->
        <p class="bugsnag">
          <a href="https://bugsnag.com">
            <img src="//d11cihvswtt777.cloudfront.net/assets/website/logo-dark-9ab889691301d5758b6e63d61dd71718.png">
          </a>
        </p>
      </div>

      <div class="col-md-6">
        <!-- Mixpanel -->
        <div class="mixpanel">
          <a href="https://mixpanel.com/f/partner">
            <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
