<div class="jumbotron">
  <div class="container">
    <h1>About HackCentral</h1>
    <p>
      HackCentral was created by Jon Moss in late 2014.</p>
    <p>
      HackCentral is powered by Ruby on Rails and PostgreSQL.
      <a href="https://github.com/hackcentral/hackcentral">Check out the source code here on GitHub</a>.
    </p>

    <br />

    <p class="center"><%= link_to "Contact HackCentral", pages_contact_path %></p>
  </div>
</div>
