<div class="jumbotron">
  <div class="container">
    <h1>Contact HackCentral</h1>
    <p>The easiest way to ping the team is over Twitter, we are <a href="https://twitter.com/thehackcentral">@thehackcentral</a>.</p>
    <p>You can also contact us over email at <a href="mailto:support@hackcentral.co">support@hackcentral.co</a>.</p>
  </div>
</div>
