<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>New hackathon</h1>
    </div>
  </div>

  <%= render 'form' %>

  <div class="panel-footer">
    <%= link_to 'Back', hackathons_path %>
  </div>
</div>
