<h1>Listing hackathons</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>MLH Sanctioned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hackathons.each do |hackathon| %>
      <tr>
        <td><%= hackathon.name %></td>
        <td><%= hackathon.mlh_sanctioned %></td>
        <td><%= link_to 'Show', hackathon %></td>
        <td><%= link_to hackathon.name, root_url(subdomain: hackathon.subdomain) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
