<!--<style>
.container .jumbotron {
  padding-left: 10px;
  padding-right: 10px;
}
</style>-->

<div class="jumbotron">
  <div class="container">
    <h1>Participants</h1>

    <ul>
      <% @applications.each do |application| %>
        <p><%= link_to "#{application.user.name}", user_url(application.user, :subdomain => false) %> | <%= application.user.submissions.count %> projects</p>
        <hr>
      <% end %>
    </ul>

  </div><!-- .container -->
</div><!-- .jumbotron -->
