<li><a href="" data-toggle="modal" data-target="#myModal">Sign in</a></li>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Hack Central</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Sign in</a></li>
          <li role="presentation"><a href="#signup" role="tab" data-toggle="tab">Sign up</a></li>
          <li role="presentation"><a href="#password" role="tab" data-toggle="tab">Recover Password</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <%= render "layouts/signin" %>
          </div>
          <div role="tabpanel" class="tab-pane" id="signup">Sign up
          </div>
          <div role="tabpanel" class="tab-pane" id="password">Recover Password
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
