<html>
  <head>
    <link rel="stylesheet" media="all" href="http://hackcentral.co/assets/application-750674553e7ee1a20e273cd768b2aa6f.css" data-turbolinks-track="true" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
